/*body
{
    background-color: #a6e9ed;
}
form
{
    height: auto;
    width: 300px;
    font-family: cursive;
    color: black;
    background-color: rgba(255,255,255,0.50);
    position: absolute;
    top: auto;
    left: 40%;
    padding: 50px 35px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}
input
{
    display: block;
    height: 30px;
    width: 80%;
    background-color: rgba(255,255,255,0.3);
    margin-left: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border-color: rgba(150,150,150, 0.50);
    box-shadow: 0 0 40px rgba(2,2,2,0.15);
}
#submitBtn
{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border-color: rgba(200,200,200, 0.80);
    cursor: pointer;
}
span
{
    color: red;
    font-weight: 500;
    text-align: center;
}
select
{
    margin-left: 22px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border-color: rgba(150,150,150, 0.50);
    box-shadow: 0 0 40px rgba(2,2,2,0.15);
    background-color: rgba(255,255,255,0.3);

}
#dropDownInput
{
    margin-top: 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border-color: rgba(150,150,150, 0.50);
    box-shadow: 0 0 40px rgba(2,2,2,0.15);
    background-color: rgba(255,255,255,0.3);
}
.gender-container
{
    
    margin-top: 10%;
    display: inline-flex;
    border-radius: 14px;  
}
.radioBtn
{
    width: 20px;
    height: 20px;
}
.terms-container
{
    margin-top: 10%;
    
    border-radius: 14px;  
}
#checkbox
{
    width: 20px;
    height: 20px;
} */
