body
{
    background-color: rgb(30, 30 , 30);
}
.radioBtn
{
    float: left;
    width: 300px;
    height: 200px;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 30px;
    color: white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 31px #fff,
    0 0 52px #0362fc,
    0 0 92px #0362fc,
    0 0 102px #0362fc,
    0 0 112px #0362fc,
    0 0 121px #0362fc;
    font-family: 'Courier New', Courier, monospace;
    
}
#text
{
    float: left;
    text-align: center;
    margin-top: 200px;
    margin-left: -200px;
    font-size: 30px;
    color: white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 31px #fff,
    0 0 52px #0362fc,
    0 0 92px #0362fc,
    0 0 102px #0362fc,
    0 0 112px #0362fc,
    0 0 121px #0362fc;
    font-family: 'Courier New', Courier, monospace;
}
.dropDown
{
    float: left;
    margin-top: 50px;
    margin-left: 350px;
}
#textDrop
{
    float: left;
    color: white;
    margin-top: 100px;
    margin-left: -100px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 31px #fff,
    0 0 52px #0362fc,
    0 0 92px #0362fc,
    0 0 102px #0362fc,
    0 0 112px #0362fc,
    0 0 121px #0362fc;
    font-family: 'Courier New', Courier, monospace;
}
    
